body {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(rgba(153, 226, 180, 0.75), rgba(4, 99, 99, 0.75)), url('./images/background.jpg') center/cover no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

textarea {
  width: 90%;
  height: 87.5%;
  box-shadow: 0 0 10px #046363;
  background-color: #88D4AB;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid #14746F;
  color: #036666;
  resize: none;
  font-size: 16px;
  font-family: 'Consolas', sans-serif;
}
textarea:focus {
  border: 2px solid #b4ffd6;
  outline: none;
}
textarea::-webkit-scrollbar {
  width: 10px;
}
textarea::-webkit-scrollbar-track {
  background: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #036666;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #358F80;
}

.files-container  {
  background-color: #78C6A3;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px #046363;
  width: calc(95% - 50px);
  height: calc(95% - 50px);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.file-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-container img {
    margin-bottom: 5px;
    cursor: pointer;
}

.file-container label {
  font-weight: bold;
  color: #023939;
  font-family: 'Ubuntu', sans-serif;
}
.item {
  margin: -50px; /* Adjust the margin to reduce vertical spacing */
  padding: 15px;
  border: 1px solid #ccc;
}

.form-container {
  background-color: #78C6A3;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 0 10px #046363;
  width: 425px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form-container h2 {
  color: #023939;
}

.input-group {
  margin-bottom: 10px;
  text-align: left;
}

.input-group label img {
  margin-right: 10px; 
  margin-bottom: -5px;
  max-width: 20px;
}

.input-group label {
  display: flex;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-top: -15px;
  color: #036666;
  align-items: center;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #88D4AB;
  border: 2px solid #14746F;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
  color: #046363;
  font-family: 'Consolas', Helvetica, sans-serif;
}

.input-group input:focus {
  border: 2px solid #b4ffd6;
}

.input-group input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #14746F;
  background-color: #88D4AB;
  margin-right: 10px;
  position: relative;
  outline: none;
}

.input-group input[type="radio"]:checked {
  background-color: #14746F;
  border-color: #14746F;
}

.input-group span {
  margin-top: -10px;
  color: #036666;
}

.buttons-group {
  margin: -10px;
  display: flex;
  justify-content: flex-end;
}

.action-btn {
  background-color: #14746F;
  color: #c8f9da;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: -5px;
  margin-right: 10px;
}

.action-btn:hover {
  background-color: #036666;
}

.switch-form {
  color: #023939;
  margin-top: 10px;
  cursor: pointer;
}

.error-message {
  color: #3c1642;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -5px;
}

#errorMessage {
  font-weight: normal;
  font-style: normal;
}

#errorMessage.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
}